{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
       <p>
           You are already logged-in redirect to <a href="{% url 'home' %}">Homeage</a> or <a href="{% url 'logout' %}">logout</a>
        </p>
    {% else %}
        <form method="post" action="{% url 'login_view' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            <p>Need to create new account? <a href="{% url 'register_view' %}">Register here</a></p>
        </form>
    {% endif %}
{% endblock%}