{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    <form method="post" action="{% url 'logout_view' %}">
        {% csrf_token %}
        <p> Are you sure? want to
            <button type="submit">Logout</button>
        </p>
    </form>
{% else %}
    <p>
        You are already logged-in redirect to <a href="/">Homeage</a> or <a href="{% url 'login_view' %}">login</a>
    </p>
{% endif %}
{% endblock%}