{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<p>
    You are already logged-in redirect to <a href="{% url 'home' %}">Homeage</a> or <a href="{% url 'logout_view' %}">logout</a>
</p>
{% else %}
<form method="post" action="{% url 'register_view' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
    <p>Already Have an account?please <a href="{% url 'login_view' %}">Login</a></p>
</form>
{% endif %}
{% endblock%}