{% extends 'base.html' %}

{% block content %}
    <div>
        <table class="table table-striped table-hovered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 80px;">User ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                {% for each in data %}
                    <tr>
                        <td scope="row" style="width: 80px;">{{ each.user_id }}</td>
                        <td>{{each.title}}</td>
                        <td>{{each.body}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}