{% extends 'base.html' %}

{% block content %}

    <div class="margin-tb-10">
        <form id="uploadForm" method="post" action="{{ upload_url }}" enctype="multipart/form-data">
            {% csrf_token %}
            Upload file:<input type="file" accept=".json" name="jsonFile">
            <button type="submit" id="uploadData" data-url="{{ upload_url }}">Upload</button>
        </form>
        <div id="message">{{ message }}</div>
        <div style="color: red;">{{ error }}</div>
    </div>
{% endblock %}
