<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="{% static 'css/admin.css'%}" rel="stylesheet">
</head>

<body>
    <div class="container">
        
        <div class="margin-tb-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">My Exam</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                        <a class="nav-link" href="{% url 'upload_view' %}">Upload</a>
                        <a class="nav-link" href="{% url 'data_view' %}">View Data</a>
                    </div>
                </div>
                <div class="right navbar-nav">
                    {% if request.user.is_authenticated %}
                        <div class="p-2">{{ request.user.username|title }}</div>
                    {% endif%}
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout_view' %}">logout</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login_view' %}">Login</a>
                    {% endif%}
                </div>
            </nav>
        </div>
        <div class="margin-tb-10">
            {% block content %}
            <h4>Welcome {{ request.user.username|title }}</h4>
            {% endblock %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block js %}
    {% endblock %}
</body>

</html>